/* Global Styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
}


a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

h1 {     
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}


h4 {
    font-size: 20px;
}

header {
    background-color: rgb(1, 73, 1);
    padding: 40px;
    color: #ffffff;
  }

.main-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    background: deepskyblue;
  }
  
  .main-nav  a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  
  .main-nav  a:hover {
    background: #1565C0;
  }
  
 
main {
    margin: auto;
}

.hero-image {
    background-image: url("/assets/img/flowerbanner.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: right;
    width: 400px;
    padding: 20px;
    position: relative;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgb(241, 148, 164, .40);
    font-size: 42px;
  }

  .flex-container {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .flex-item {
    background: tomato;
    width: 30%;
    height: auto;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
  
  .flex-item2 {
    background: blue;
    width: 70%;
    height: auto;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
  
/* Footer */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

@media all and (max-width: 800px) {
  .main-nav {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .main-nav {
    flex-flow: column wrap;
    padding: 0;
  }
  .main-nav a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
